.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: auto;
    padding: 3rem;
    background-color: blue;

    .google-button {
        padding: 0 1rem;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
    }
}